extends layout

block head
    title PUG Boilerplate

block content
    section.container--responsive.font--center(style="padding-top: 50px")
        h3.mb--30 Hello!
        h1.mb--50 Enjoy my PUG Boilerplate
        a.btn.theme(href="https://usamah.in") Visit my website
        img(src=require('src/images/download.jpg') alt="")