doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    //- link(rel="icon" href=require('src/images/favicon.png'))
    //- link(rel="preload" href="./assets/fonts/Poppins-Light.woff2" as="font" type="font/woff2" crossorigin)
    //- link(rel="preload" href="./assets/fonts/Poppins-Regular.woff2" as="font" type="font/woff2" crossorigin)
    //- link(rel="preload" href="./assets/fonts/Poppins-Bold.woff2" as="font" type="font/woff2" crossorigin)
    block head
  body
    include ./includes/header.pug
    main#app
      block content
    include ./includes/footer.pug
    //- img(src=require('src/images/logo.png') alt="")
